<%= form_tag recipes_path do %>
  <div>
    <%= label_tag "Title" %>
    <%= text_field_tag "recipes[title]" %>
  </div>

  <div>
    <%= label_tag "Author" %>
    <%= text_field_tag "recipes[author]" %>
  </div>

  <div>
    <%= label_tag "Difficulty rating" %>
    <%= number_field_tag "recipes[difficulty]" %>
  </div>

  <div>
    <%= label_tag "Servings" %>
    <%= number_field_tag "recipes[servings]" %>
  </div>

  <div>
    <%= label_tag "Prep time (hands-on)" %>
    <%= number_field_tag "recipes[prep_time]" %> minutes
  </div>
  <div>
    <%= label_tag "Cook time (hands-off)" %>
    <%= number_field_tag "recipes[prep_time]" %> minutes
  </div>

  <div>
    Add ingredients:
    <%= label_tag "Amount" %>
    <%= number_field_tag "measurements[quantity]" %>
    <%= label_tag "Units" %>
    <%= text_field_tag "measurements[units]" %>
    <%= label_tag "Ingredient" %>
    <%= text_field_tag "some damn thing" %>

  <%= submit_tag %>
<% end %>
