<%= form_tag recipes_path do %>
  <div>
    <%= label_tag "recipe_forms[name]", "Name" %>
    <%= text_field_tag "recipe_forms[name]" %>
  </div>

  <div>
    <%= label_tag "recipe_forms[author]", "Author" %>
    <%= text_field_tag "recipe_forms[author]" %>
  </div>

  <div>
    <%= label_tag "recipe_forms[quantity]", "Quantity" %>
    <%= text_field_tag "recipe_forms[quantity]" %>

    <%= label_tag "recipe_forms[unit]", "Units" %>
    <%= text_field_tag "recipe_forms[unit]" %>

    <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name), size: 8) %>
  <%= submit_tag %>
<% end %>
