<h1><%= @recipe.name %> <small>by <%= @recipe.author %></h1>
  <h4>Preparation (hands-on) time: <%= @recipe.prep_time %> minutes</h4>
  <h4>Cooking (hands-off) time: <%= @recipe.cook_time %> minutes</h4>
  <h4>Serves <%= @recipe.servings %></h4>

  <% Ingredient.categories.each do |category| %>


  <% end %>
