<!DOCTYPE html>
<html>
<head>
  <title>ToServeMan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
<%= link_to "See all recipes", root_path %> <%= link_to "See all ingredients", ingredients_path %>
</footer>
</html>
